body {
    margin: 0;
    padding: 0;
    background-image: url('images/Header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
}

.plus-jakarta-sans-light {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
}

.plus-jakarta-sans-regular {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
}

.plus-jakarta-sans-bold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
}

.preahvihear-regular {
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}


header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    display: inline-block;
    position: relative;
}

header h1 {
    padding-left: 275px; /* Adjust the value as needed */
    margin: 0;
    color: white;
    text-align: center;
}

.header-underline {
    position: absolute;
    bottom: -40px;
    left: 94%;
    transform: translateX(-50%);
    width: 75px;       /* Adjust width as needed */
    height: auto;
}

nav{
    padding-right: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #F08080; /* Highlight color on hover */
}

h1 {
    margin: 0;
    font-size: 2em;
}

.background-section {
    min-height: 100vh;
    background-image: url('images/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 1840px;
}

.gradient-image{
    position: absolute;
    top: 100px;
    left: 330px;
    width: 300px;
    height: auto;
}

.profile-image {
    position: absolute;
    top: 100px;          /* Adjust vertical position relative to gradient */
    left: 330px;         /* Adjust horizontal position relative to gradient */
    width: 300px;       /* Set appropriate width */
    height: auto;       /* Maintain aspect ratio */
}

.ellipse-image {
    position: absolute;
    top: 215px;          /* Adjust vertical position relative to gradient */
    left: 765px;         /* Adjust horizontal position relative to gradient */
    width: 175px;       /* Set appropriate width */
    height: auto;       /* Maintain aspect ratio */
}


.arrow-image {
    position: absolute;
    top: 30px;          /* Position above the profile image */
    left: 530px;         /* Slightly to the left of the profile image */
    width: 130px;        /* Set appropriate width */
    height: auto;       /* Maintain aspect ratio */
    /*transform: rotate(-20deg);  Optional: Adjust rotation for better pointing */
}

.coffee-image {
    position: absolute;
    top: 180px;          /* Position above the profile image */
    left: 1030px;         /* Slightly to the left of the profile image */
    width: 190px;        /* Set appropriate width */
    height: auto;       /* Maintain aspect ratio */
    animation: swing 2s ease-in-out infinite; /* Apply the swing animation */
}

@keyframes swing {
    0% { transform: rotate(-15deg); }   /* Start by turning left */
    50% { transform: rotate(15deg); }   /* Swing to the right */
    100% { transform: rotate(-15deg); } /* Swing back to the left */
}

.skills-image{
    position: absolute;
    top: 700px;          /* Position above the profile image */
    left: 375px;         /* Slightly to the left of the profile image */
    width: 950px;        /* Set appropriate width */
    height: auto;       /* Maintain aspect ratio */
}

.card-image{
    position: absolute;
    top: 1500px;          /* Position above the profile image */
    left: 375px;         /* Slightly to the left of the profile image */
    width: 500px;        /* Set appropriate width */
    height: 200px;       /* Maintain aspect ratio */
}

.card-background{
    position: absolute;
    top: 1430px;          /* Position above the profile image */
    left: 800px;         /* Slightly to the left of the profile image */
    width: 550px;        /* Set appropriate width */
    height: auto;       /* Maintain aspect ratio */
    border-radius: 20px;
}

.card-image.second{
    position: absolute;
    top: 2000px;          /* Position above the profile image */
    left: 840px;         /* Slightly to the left of the profile image */
    width: 450px;        /* Set appropriate width */
    height: 250px;       /* Maintain aspect ratio */
}

.card-background.second{
    position: absolute;
    top: 1950px;          /* Position above the profile image */
    left: 550px;         /* Slightly to the left of the profile image */
    width: 325px;        /* Set appropriate width */
    height: 455px;       /* Maintain aspect ratio */
    border-radius: 20px;
}

.pet-game-image{
    position: absolute;
    top: 1455px;          /* Position above the profile image */
    left: 830px;         /* Slightly to the left of the profile image */
    width: 520px;        /* Set appropriate width */
    height: auto;       /* Maintain aspect ratio */
    border-radius: 20px;
}
.weather-app-image{
    position: absolute;
    top: 1975px;          /* Position above the profile image */
    left: 573px;         /* Slightly to the left of the profile image */
    width: 300px;        /* Set appropriate width */
    height: auto;
    border-radius: 20px;
}

.instagram-image{
    position: absolute;
    top: 2675px;          /* Position above the profile image */
    left: 400px;         /* Slightly to the left of the profile image */
    width: 50px;        /* Set appropriate width */
    height: auto;
}

.linkedin-image{
    position: absolute;
    top: 2675px;          /* Position above the profile image */
    left: 475px;         /* Slightly to the left of the profile image */
    width: 46px;        /* Set appropriate width */
    height: auto;
}

.github-image{
    position: absolute;
    top: 2673px;          /* Position above the profile image */
    left: 550px;         /* Slightly to the left of the profile image */
    width: 45px;        /* Set appropriate width */
    height: auto;
}

.intro-text {
    position: absolute;
    top: 10px;           /* Adjust to position the text near the start of the arrow */
    left: 555px;         /* Adjust to align with the arrow's starting point */
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    font-family: "Preahvihear", sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
}

.highlight-text {
    color: #F08080; /* Deep purple color */
    font-size: 25px;
}

.intro-text2 {
    position: absolute;
    top: 70px;           /* Adjust to position the text near the start of the arrow */
    left: 660px;         /* Adjust to align with the arrow's starting point */
    font-size: 32px;
    color: white;
    font-weight: bold;
    font-family: "Preahvihear", sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
}

.intro-text3 {
    position: absolute;
    top: 125px;           /* Adjust to position the text near the start of the arrow */
    left: 660px;         /* Adjust to align with the arrow's starting point */
    font-size: 32px;
    color: white;
    font-weight: bold;
    font-family: "Preahvihear", sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
}

.mini-paragraph{
    position: absolute;
    top: 425px;           /* Adjust to position the text near the start of the arrow */
    left: 375px;         /* Adjust to align with the arrow's starting point */
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: "Preahvihear", sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
}
.mini-paragraph2{
    position: absolute;
    top: 530px;           /* Adjust to position the text near the start of the arrow */
    left: 375px;         /* Adjust to align with the arrow's starting point */
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: "Preahvihear", sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
}

.featured-project-text{
    position: absolute;
    top: 1400px;           /* Adjust to position the text near the start of the arrow */
    left: 375px;         /* Adjust to align with the arrow's starting point */
    font-size: 16px;
    color: #F08080;
    font-weight: bold;
    font-family: "poppins-semibold", sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
}
.project-name-text{
    position: absolute;
    top: 1405px;           /* Adjust to position the text near the start of the arrow */
    left: 375px;         /* Adjust to align with the arrow's starting point */
    font-size: 30px;
    color: #CCD6F6;
    font-weight: bold;
    font-family: "poppins-semibold", sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
}

.featured-project-text.second {
    position: absolute;
    top: 1900px;    /* Increased to avoid overlapping with the first set */
    left: 1160px;
    font-size: 16px;
    color: #F08080;
    font-weight: bold;
    font-family: "poppins-semibold", sans-serif;
    white-space: nowrap;
}

.project-name-text.second {
    position: absolute;
    top: 1905px;
    left: 1105px;
    font-size: 30px;
    color: #CCD6F6;
    font-weight: bold;
    font-family: "poppins-semibold", sans-serif;
    white-space: nowrap;
}

.weather-app-text{
    position: absolute;
    top: 2005px;
    left: 850px;
    font-size: 18px;
    color: #CCD6F6;
    font-weight: bold;
    font-family: "poppins-medium", sans-serif;
    white-space: nowrap;
}

.pet-game-text{
    position: absolute;
    top: 1500px;
    left: 386px;
    font-size: 18px;
    color: #CCD6F6;
    font-weight: bold;
    font-family: "poppins-medium", sans-serif;
    white-space: nowrap;
}

.highlight-text2{
    color: #693B93;
}

.contact{
    position: absolute;
    top: 2450px;
    left: 405px;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Preahvihear", sans-serif;
    white-space: nowrap;
}
.contact-text{
    position: absolute;
    top: 2515px;
    left: 405px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Preahvihear", sans-serif;
    white-space: nowrap;
}